<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "a1.jpg", width: 300, altL: "Profile Image" %>
  </div>

  <div class="col-md-8">
    <p>Lorem ipsum dolor sit amet, commune tincidunt at sea, mel facer disputando conclusionemque ad. Cum agam facete cu. Homero propriae et per, mea nostro audiam ex. Facilisi democritum pro id, eam ad enim modus commodo.</p>

    <p>No mea duis verterem indoctum, eu modo commodo vim, posse quaerendum et cum. Mei ut ferri aliquam splendide, eam novum eloquentiam eu, cum ea enim facilisis. Ut nam nobis appellantur. Doming similique te has, quo iisque facilis conceptam id, vel voluptua recteque torquatos id. Modo luptatum explicari no mel, sea vocent noluisse volutpat at. Elitr voluptua ex duo.</p>
  </div>
</div>