<h1>Would you like to work together</h1>
<hr>

<div class="row">
  <div class="col-md-6">
    <h4>Office Address</h4>
    <p>7059 Marle Dr, Burlington WA, 98233</P>
    <h4>Phone</h4>
    <p><%= number_to_phone "7026822734" %></p>
    <h4>Emial</h4>
    <p><a href="mailto:joirdan@devcamp.com?subject=PortfolioContact" "emial me">Email me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.224932576901!2d-122.3796596843392!3d48.47139897925147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54856de49f35f1e1%3A0x98753a33e2851db0!2s17059+Marlee+Dr%2C+Burlington%2C+WA+98233!5e0!3m2!1sen!2sus!4v1548099868418" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>